In [ ]:
# prompt: グーグルドライブと連結

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.4-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Downloading category_encoders-2.6.4-py2.py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.0/82.0 kB 2.0 MB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.4

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder,MinMaxScaler
from imblearn.over_sampling import SMOTE
from category_encoders.target_encoder import TargetEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import RandomizedSearchCV
# import optuna
# from optuna import Trial
from imblearn.combine import SMOTEENN
from collections import Counter

from xgboost import XGBClassifier

from lightgbm import LGBMClassifier
from imblearn.over_sampling import BorderlineSMOTE
from scipy.stats import uniform, randint
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestClassifier , AdaBoostClassifier , GradientBoostingClassifier , ExtraTreesClassifier , VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV , cross_val_score , StratifiedKFold , learning_curve
from sklearn.impute import KNNImputer

/usr/local/lib/python3.10/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [ ]:
client = pd.read_csv("/content/drive/MyDrive/A_comp/Client.csv")
record = pd.read_csv("/content/drive/MyDrive/A_comp/Record.csv")

In [ ]:
pd.set_option('display.max_info_columns', 1000)
pd.set_option('display.max_columns', 1000)

# EDA

In [ ]:
print(client.info())
print('-----------------------------')
record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 50 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   uniqsubs          100000 non-null  int64
 1   actvsubs          100000 non-null  int64
 2   new_cell          100000 non-null  object
 3   crclscod          100000 non-null  object
 4   asl_flag          100000 non-null  object
 5   totcalls          100000 non-null  int64
 6   totmou            100000 non-null  float64
 7   totrev            100000 non-null  float64
 8   adjrev            100000 non-null  float64
 9   adjmou            100000 non-null  float64
 10  adjqty            100000 non-null  int64
 11  avgrev            100000 non-null  float64
 12  avgmou            100000 non-null  float64
 13  avgqty            100000 non-null  float64
 14  avg3mou           100000 non-null  int64
 15  avg3qty           100000 non-null  int64
 16  avg3rev           100000 non-null  int64
 17  avg6mou           97161 non-null   float64
 18  avg6qty           97161 non-null   float64
 19  avg6rev           97161 non-null   float64
 20  prizm_social_one  92612 non-null   object
 21  area              99960 non-null   object
 22  dualband          99999 non-null   object
 23  refurb_new        99999 non-null   object
 24  hnd_price         99153 non-null   float64
 25  phones            99999 non-null   float64
 26  models            99999 non-null   float64
 27  hnd_webcap        89811 non-null   object
 28  truck             98268 non-null   float64
 29  rv                98268 non-null   float64
 30  ownrent           66294 non-null   object
 31  lor               69810 non-null   float64
 32  dwlltype          68091 non-null   object
 33  marital           98268 non-null   object
 34  adults            76981 non-null   float64
 35  infobase          77921 non-null   object
 36  income            74564 non-null   float64
 37  numbcars          50634 non-null   float64
 38  HHstatin          62077 non-null   object
 39  dwllsize          61692 non-null   object
 40  forgntvl          98268 non-null   float64
 41  ethnic            98268 non-null   object
 42  kid0_2            98268 non-null   object
 43  kid3_5            98268 non-null   object
 44  kid6_10           98268 non-null   object
 45  kid11_15          98268 non-null   object
 46  kid16_17          98268 non-null   object
 47  creditcd          98268 non-null   object
 48  eqpdays           99999 non-null   float64
 49  Customer_ID       100000 non-null  int64
dtypes: float64(21), int64(8), object(21)
memory usage: 38.1+ MB
None
-----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 51 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   rev_Mean         99643 non-null   float64
 1   mou_Mean         99643 non-null   float64
 2   totmrc_Mean      99643 non-null   float64
 3   da_Mean          99643 non-null   float64
 4   ovrmou_Mean      99643 non-null   float64
 5   ovrrev_Mean      99643 non-null   float64
 6   vceovr_Mean      99643 non-null   float64
 7   datovr_Mean      99643 non-null   float64
 8   roam_Mean        99643 non-null   float64
 9   change_mou       99109 non-null   float64
 10  change_rev       99109 non-null   float64
 11  drop_vce_Mean    100000 non-null  float64
 12  drop_dat_Mean    100000 non-null  float64
 13  blck_vce_Mean    100000 non-null  float64
 14  blck_dat_Mean    100000 non-null  float64
 15  unan_vce_Mean    100000 non-null  float64
 16  unan_dat_Mean    100000 non-null  float64
 17  plcd_vce_Mean    100000 non-null  float64
 18  plcd_dat_Mean    100000 non-null  float64
 19  recv_vce_Mean    100000 non-null  float64
 20  recv_sms_Mean    100000 non-null  float64
 21  comp_vce_Mean    100000 non-null  float64
 22  comp_dat_Mean    100000 non-null  float64
 23  custcare_Mean    100000 non-null  float64
 24  ccrndmou_Mean    100000 non-null  float64
 25  cc_mou_Mean      100000 non-null  float64
 26  inonemin_Mean    100000 non-null  float64
 27  threeway_Mean    100000 non-null  float64
 28  mou_cvce_Mean    100000 non-null  float64
 29  mou_cdat_Mean    100000 non-null  float64
 30  mou_rvce_Mean    100000 non-null  float64
 31  owylis_vce_Mean  100000 non-null  float64
 32  mouowylisv_Mean  100000 non-null  float64
 33  iwylis_vce_Mean  100000 non-null  float64
 34  mouiwylisv_Mean  100000 non-null  float64
 35  peak_vce_Mean    100000 non-null  float64
 36  peak_dat_Mean    100000 non-null  float64
 37  mou_peav_Mean    100000 non-null  float64
 38  mou_pead_Mean    100000 non-null  float64
 39  opk_vce_Mean     100000 non-null  float64
 40  opk_dat_Mean     100000 non-null  float64
 41  mou_opkv_Mean    100000 non-null  float64
 42  mou_opkd_Mean    100000 non-null  float64
 43  drop_blk_Mean    100000 non-null  float64
 44  attempt_Mean     100000 non-null  float64
 45  complete_Mean    100000 non-null  float64
 46  callfwdv_Mean    100000 non-null  float64
 47  callwait_Mean    100000 non-null  float64
 48  churn            100000 non-null  int64
 49  months           100000 non-null  int64
 50  Customer_ID      100000 non-null  int64
dtypes: float64(48), int64(3)
memory usage: 38.9 MB

In [ ]:
record.shape

(100000, 51)

In [ ]:
all_df = pd.merge(client, record, on='Customer_ID', how='outer')
all_df_ = all_df.copy()

## outlier처리

In [ ]:
cleandf = all_df.copy()
cleandf = all_df[all_df["totrev"] < 20000]
cleandf = cleandf[cleandf["totmou"] < 200000]
cleandf = cleandf[cleandf["uniqsubs"] < 150]
cleandf = cleandf[all_df["actvsubs"] < 30]
cleandf = cleandf[cleandf["adjmou"] < 200000]

all_df_ = cleandf

#hnd_webcap
all_df_["hnd_webcap"].replace("UNKW",np.nan,inplace= True)

## encoding

In [ ]:
#2
E = LabelEncoder()
Larray = ["asl_flag","refurb_new","kid0_2","kid3_5","kid6_10",
          "kid11_15","kid16_17","creditcd"]
for i in range(len(Larray)):
    Labeled = E.fit_transform(all_df_[Larray[i]])
    all_df_[Larray[i]] = Labeled

In [ ]:
# some

ColumnsOneHot = ["infobase","dwlltype","ownrent","hnd_webcap","new_cell","prizm_social_one",
                 "dualband","marital","HHstatin"]
encoder = OneHotEncoder(sparse_output = False)

client_encoded = pd.get_dummies(all_df_[ColumnsOneHot])

all_df_.drop(columns=ColumnsOneHot, inplace=True)
all_df_ = pd.concat([all_df_, client_encoded], axis=1)

In [ ]:
# Target Encoding
encoder = TargetEncoder()
Targetcolumns = ["ethnic","dwllsize","crclscod","area"]
for j in Targetcolumns:
  all_df_[j] = encoder.fit_transform(all_df_[j] ,all_df_["churn"])

In [ ]:
null_counts = all_df_.isnull().sum()
null_counts[null_counts > 0]

avg6mou         2839
avg6qty         2839
avg6rev         2839
hnd_price        847
phones             1
models             1
truck           1732
rv              1732
lor            30189
adults         23018
income         25435
numbcars       49364
forgntvl        1732
eqpdays            1
rev_Mean         357
mou_Mean         357
totmrc_Mean      357
da_Mean          357
ovrmou_Mean      357
ovrrev_Mean      357
vceovr_Mean      357
datovr_Mean      357
roam_Mean        357
change_mou       891
change_rev       891
dtype: int64

## 결손값 보관

In [ ]:
all_df_except_null = all_df_[all_df_['phones'].notnull()&all_df_["rev_Mean"].notnull()&all_df_['change_mou'].notnull()&all_df_['hnd_price'].notnull()]

In [ ]:
## 삭제 처리
all_df_except_null["forgntvl"].fillna(0.0, inplace=True)
all_df_except_null["rv"].fillna(0.0, inplace=True)
all_df_except_null["truck"].fillna(0.0, inplace=True)


正規分布補完

In [ ]:
all_df_except_null_avg6mou_mean = all_df_except_null["avg6mou"].mean()
all_df_except_null_avg6qty_mean = all_df_except_null["avg6qty"].mean()
all_df_except_null_avg6rev_mean = all_df_except_null["avg6rev"].mean()

all_df_except_null_avg6mou_std = all_df_except_null["avg6mou"].std()
all_df_except_null_avg6qty_std = all_df_except_null["avg6qty"].std()
all_df_except_null_avg6rev_std = all_df_except_null["avg6rev"].std()

all_df_except_null_2 = all_df_except_null.copy()

# 欠損値の位置を取得
missing_indices = all_df_except_null_2[all_df_except_null_2['avg6mou'].isna()].index

print(missing_indices.shape)

# 正規分布からランダムに値をサンプリングして補完
for index in missing_indices:
    all_df_except_null_2.at[index, 'avg6mou'] = np.random.normal(all_df_except_null_avg6mou_mean, all_df_except_null_avg6mou_std)
    all_df_except_null_2.at[index, 'avg6qty'] = np.random.normal(all_df_except_null_avg6qty_mean, all_df_except_null_avg6qty_std)
    all_df_except_null_2.at[index, 'avg6rev'] = np.random.normal(all_df_except_null_avg6rev_mean, all_df_except_null_avg6rev_std)

(2730,)

In [ ]:
all_df_except_null_counts2 = all_df_except_null_2.isnull().sum()
all_df_except_null_counts2[all_df_except_null_counts2 > 0]

lor         29634
adults      22579
income      24948
numbcars    48424
dtype: int64

KNNimputer보관

In [ ]:
imputer = KNNImputer(n_neighbors=3)
all_df_except_null_3_array = imputer.fit_transform(all_df_except_null_2)

all_df_except_null_3 = pd.DataFrame(all_df_except_null_3_array, columns=all_df_except_null_2.columns)

all_df_except_null_3.to_csv('./submission.csv', index=False)